<h1> Wellcome to this Auctions Site</h1>
<h2>Please log in for a new session</h2>
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field_tag :password %>
  <br>
  <br>
  <%= f.button %>
<% end %>
<br>
<br>
