<h1>Your Product Page</h1>
<h2><%= @user.name %></h2>
<ul>
  <% @user_bids.each do |bid| %>
    <li>
      Product: <%= bid.product.title %>&nbsp;&nbsp;
      Description: <%= bid.product.description %>&nbsp;&nbsp;
      Your Bid: &nbsp; <%= bid.amount %> &nbsp;
    </li>
  <% end %>
</ul>
<br>
<br>
<br>
<%=link_to "Back to the product index", "/users/#{@user.id}/index"%>
